@using JobSearch.Models
@{
  Layout = "_Layout";
}
<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li><a class="nav-link" href = "/jobs/all">All</a></li>
    <li><a class="nav-link" href = "/jobs/stackoverflow">Stack OverFlow</a></li>
    <li><a class="nav-link" href = "/jobs/indeed">Indeed</a></li>
    <li><a class="nav-link" href = "/jobs/glassdoor">GlassDoor</a></li>
    <li><a class="nav-link" href = "/jobs/craigslist">Craigslist</a></li>
    <li><a class="nav-link" href = "/jobs/monster">Monster</a></li>
  </ul>
</div>
<br>
<div class="wrapperAll">
  <div id="indeedLogo"><img class="logoAll" src="~/img/indeed.png"></div>
  <div id="stackoverflowLogo"><img class="logoAll" src="~/img/stackoverflow.png"></div>
  <div id="glassdoorLogo"><img class="logoAll" src="~/img/glassdoor.png"></div>
  <div id="craigslistLogo"><img class="logoAll" src="~/img/craigslist.png"></div>
  <div id="monsterLogo"><img class="logoAll" src="~/img/monsterlogo.png"></div>
</div>
<br>
<br>
<div class="wrapper">
  <div id="formLeft" class="formClass">
    <p>Search All Sites By Job TItle and Job Location</p>
    <form action = "/jobs/all" method="post">
            <label class='jobName' for='jobName'>Job Title</label>
            <input name='jobName' type='text' required>
            <label class='jobLocation' for='jobLocation'>Job Location</label>
            <input name='jobLocation' type='text' required>
            <button type='submit'>Find a job</button>
    </form>
  </div>
  <div class="formClass">
    <p class="jobOutput">StackOverflow Results:</p>
    <ul>
    @if (@Model["stackoverflow"].Count != 0)
    {
      @foreach(StackOverflow job in @Model["stackoverflow"])
        {
          <a target="_blank" class="exportLink" href="@job.GetUrl()"><p class="underlined underlined--gradient">@job.GetTitle()</p ></a>
        }
    } else
    {
      <p> </p>
    }
    </ul>
    <br>
    <p class="jobOutput">Monster Results:</p>
    <ul>
    @if (@Model["monster"].Count != 0)
    {
      @foreach(MonsterClass job in @Model["monster"])
        {
          <a target="_blank" class="exportLink" href="@job.GetUrl()"><p class="underlined underlined--gradient">@job.GetTitle()</p ></a>
        }
    } else
    {
      <p> </p>
    }
    </ul>
    <br>
    <p class="jobOutput">Glassdoor Results:</p>
    <ul>
    @if (@Model["glassdoor"].Count != 0)
    {
      @foreach(GlassdoorClass job in @Model["glassdoor"])
        {
          <a target="_blank" class="exportLink" href="@job.GetUrl()"><p class="underlined underlined--gradient">@job.GetTitle()</p ></a>
        }
    }else
    {
      <p> </p>
    }
    </ul>
    <br>
    <p class="jobOutput">Indeed Results:</p>
    <ul>
    @if (@Model["indeed"].Count != 0)
    {
      @foreach(IndeedClass job in @Model["indeed"])
        {
          <a target="_blank" class="exportLink" href="@job.GetUrl()"><p class="underlined underlined--gradient">@job.GetTitle()</p ></a>
        }
    }else
    {
      <p> </p>
    }
    </ul>
    <br>
    <p class="jobOutput">CraigsList Results:</p>
    <ul>
    @if (@Model["craigslist"].Count != 0)
    {
      @foreach(CraigslistClass job in @Model["craigslist"])
        {
          <a class="exportLink"  class="exportLink" href="@job.GetUrl()"><p class="underlined underlined--gradient">@job.GetTitle()</p ></a>
        }
    }else
    {
      <p> </p>
    }
    </ul>
  </div>
</div>