@using JobSearch.Models
@{
  Layout = "_Layout";
}
<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li><a class="nav-link" href = "/jobs/all">All</a></li>
    <li><a class="nav-link" href = "/jobs/stackoverflow"><img class="logoAll" src="~/img/stackoverflow.png"></a></li>
    <li><a class="nav-link" href = "/jobs/indeed"><img class="logoAll" src="~/img/indeed.png"></a></li>
    <li><a class="nav-link" href = "/jobs/glassdoor"><img class="logoAll" src="~/img/glassdoor.png"></a></li>
    <li><a class="nav-link" href = "/jobs/craigslist"><img class="logoAll" src="~/img/craigslist.png"></a></li>
    <li><a class="nav-link" href = "/jobs/monster"><img class="logoAll" src="~/img/monsterlogo.png"></a></li>
  </ul>
</div>
<br>

<br>
<div class="wrapper">
  <div id="formLeft" class="formClass">
    <p>Search All Sites By Job Title and Job City</p>
    <form action = "/jobs/all" method="post">
            <i class="fas fa-search"></i>
            <input name='jobName' placeholder="Job Title" type='text' required>
            <i class="fas fa-map-marker-alt"></i>
            <input name='jobLocation' placeholder="Job City"type='text' required>
            <button class="btn" type='submit'>Find a job</button>
    </form>
  </div>
  <div class="formClass">
    <p class="jobOutput">StackOverflow Results:</p>
    <ul>
    @if (@Model["stackoverflow"].Count != 0)
    {
      @foreach(StackOverflow job in @Model["stackoverflow"])
        {
          <a target="_blank" class="exportLink" href="@job.GetUrl()"><p class="underlined underlined--gradient">@job.GetTitle()</p ></a>
        }
    } else
    {
      <p> </p>
    }
    </ul>
    <br>
    <p class="jobOutput">Monster Results:</p>
    <ul>
    @if (@Model["monster"].Count != 0)
    {
      @foreach(MonsterClass job in @Model["monster"])
        {
          <a target="_blank" class="exportLink" href="@job.GetUrl()"><p class="underlined underlined--gradient">@job.GetTitle()</p ></a>
        }
    } else
    {
      <p> </p>
    }
    </ul>
    <br>
    <p class="jobOutput">Glassdoor Results:</p>
    <ul>
    @if (@Model["glassdoor"].Count != 0)
    {
      @foreach(GlassdoorClass job in @Model["glassdoor"])
        {
          <a target="_blank" class="exportLink" href="@job.GetUrl()"><p class="underlined underlined--gradient">@job.GetTitle()</p ></a>
        }
    }else
    {
      <p> </p>
    }
    </ul>
    <br>
    <p class="jobOutput">Indeed Results:</p>
    <ul>
    @if (@Model["indeed"].Count != 0)
    {
      @foreach(IndeedClass job in @Model["indeed"])
        {
          <a target="_blank" class="exportLink" href="@job.GetUrl()"><p class="underlined underlined--gradient">@job.GetTitle()</p ></a>
        }
    }else
    {
      <p> </p>
    }
    </ul>
    <br>
    <p class="jobOutput">CraigsList Results:</p>
    <ul>
    @if (@Model["craigslist"].Count != 0)
    {
      @foreach(CraigslistClass job in @Model["craigslist"])
        {
          <a class="exportLink"  class="exportLink" href="@job.GetUrl()"><p class="underlined underlined--gradient">@job.GetTitle()</p ></a>
        }
    }else
    {
      <p> </p>
    }
    </ul>
  </div>
</div>